.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    background-image: url('../../public/img/fondo2.jpg');
    background-size: cover;
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;

    border-radius: 2rem;
}

.contenedorTitulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15%;
}

.contenedorTitulo h1 {
    color: black;
    font-weight: bolder;
    font-size: 2em;
}

.contenedorTabla {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2% 0%;
    height: 85%;
    width: 60%;
    overflow-y: scroll;

}

.contenedorTabla::-webkit-scrollbar {
    width: 10px;
    background: #292929;
    border-radius: 10px;
}

.contenedorTabla::-webkit-scrollbar-track {
    background: none;
}

.contenedorTabla::-webkit-scrollbar-thumb {
    background: #d7cc05;
    border-radius: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    z-index: 2;
    height: 40px;

    background-color: #00FFFF;
    width: 100%;
}

/* Todo lo realacionado a la tabla */
.tabla {
    border-collapse: collapse;
    min-width: 90%;

    color: white;
    font-size: 1.5em;
    border-radius: 40px 40px 0 0;
    overflow: hidden;

    box-shadow: 0 0 35px #181818;
}

.tabla thead {
    position: sticky;
    font-weight: bold;
    background: #181818;
}

.tabla thead tr {
    border-radius: 40px 40px 0px 0px;
}

.tabla th,
.tabla td {
    padding: 5% 10%;
    text-align: center;
}

.tabla tbody tr {
    /*border-bottom: 2px solid black;   probablemente quitar */
}

.tabla tbody tr:nth-of-type(odd) {
    background: #d7cc05;
}

.tabla tbody tr:nth-of-type(even) {
    background: #998E00;
}

.tabla tbody tr:last-of-type {
    border-bottom: 4px solid black;
}

.tabla a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    padding: 15% 15%;
    border-radius: 10px;
    transition: 0.5s;
}

.tabla a:hover {
    color: black;
    border: 2px solid black;
    transition: 0.5s;
}

.noHayPruebas {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
    height: fit-content;

    align-items: center;

    border-radius: 2rem;

    padding: 2% 1%;
    border: 2px solid black;

    background-color: #cfc507;
    box-shadow: 0px 4px 25px 0px #0FF;
}

.noHayPruebas h1 {
    font-size: 2em;
    font-weight: bold;
    color: black;
}

.noHayPruebas img {
    width: 50%;
}

.noHayPruebas h1 {}

.noHayPruebas a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1% 2%;
    transition: 0.5s;
}

.noHayPruebas a:hover {
    color: white;
    border: 2px solid white;
    transition: 0.5s;
}