.main{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url('../../public/img/fondo2.jpg');
    background-size: cover;

}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    width: 95vw;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.33) 99.99%, rgba(196, 196, 196, 0.00) 100%);
    /* filter: blur(50px); */

    position: fixed;
    z-index: 0;
}

.footer{
    position: absolute;
    bottom: 0;
    z-index: 2;
    height: 40px;
  
    background-color: #00FFFF;
    width: 100%;
  }

  /* Contenido que se encuentra adentro de .section */
  .titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
    font-weight: bolder;
    height: 12%;

    z-index: 2;
  }

  .titulo h1{
    font-size: 2em;
  }
  .selectorDificultad{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2%;
    margin-top: 2%;
  }
  .selectorDificultad label{
    color: white;
    font-size: x-large;
  }
  .selectorDificultad select{
    width: 10%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 5px;

    color: black;
    font-size: x-large;
    text-align: center;
    
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid black;
    box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.49); 
  } 

  .preguntas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0% 2%;

    align-items: center;

    height: 80%;

    margin: 0 1%;

    z-index: 1;
  }

  .contenedorBotones{
    height: 5%;

    display: flex;
    flex-direction: row;
    gap: 10%;

    align-items: center;
    justify-content: center;

    color: white;
  }

  .botones{
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
  }

  .botones button{
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
    color: white;
    
    width: 25%;
    height: 100%;

    border-radius: 10px;
    background-color: #00FFFF;
    border: 2px solid black;
    box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.49); 
  }

  .botones button:hover{
    cursor: pointer;
  }

  .botones a{
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    font-size: x-large;
    font-weight: bolder;

    color: white;
    text-align: center;
    
    width: 25%;
    height: 100%;
    border-radius: 10px;
    background-color: #00FFFF;
    border: 2px solid black;
    box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.49); 
  }