.card{
    margin: 3% 0%;
    color: white;

    border-radius: 2.5rem;
    width: 80%;
    height: 100%;

    background-color: #474747;
    box-shadow: 0px 0px 20px 1px rgba(0, 255, 255, 0.60);

    display: flex;
    flex-direction: column;
    align-items: center;
}



.cardTitulo{
    width: 90%;
    margin: 1% 0%;
}
.cardTitulo h1{
    margin-top: 1%;
    font-weight: bold;
    font-size: 1.5rem;
}
.codigo{
    width: 80%;
    height: 25rem;
}
.card input{
    text-align: center;
    font-size: 1em;
    font-weight: bold;


    margin: 15px 0%;
    width: 70%;
    height: 10%;
    border-radius: 1rem;
    border: none;
    /* outline: 1px solid white; */
    border: 2px solid white; 
    transition: 0.5s;
}

.card input:focus{
    transition: 1s;
    border: 2px solid rgb(0, 112, 112);
    box-shadow: 0px 0px 20px 1px rgba(0, 155, 155, 0.6);
    outline: none;
}