.navbar{
    position: fixed;
    
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80px;
    width: 100%;


    z-index: 999;
}

.navbar div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;

    border: 2px solid #ffdd00;
    border-radius: 12px;
    padding: 0% 2%;
    
    height: 80%;
    width: 25%;

    background-color: #36363679;
}

.navbar div a{
    display: flex;
    align-items: center;
    text-align: center;

    height: 100%;
    color: white;
    text-decoration: none;

    padding: 0% 2%;

    font-size: x-large;
    font-weight: bold;
    transition: 0.5s;    
}

.navbar div a:hover{
    color: black;
    background-color: #ffdd00;
    transition: 0.5s;
}