@font-face{
  font-family: 'Oxta';
  src: url('../public/font/Oxta.otf');
}

.principal{
  display: flex;
  flex-direction: row;

  background-image: url('../public/img/fondo2.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.contenedorIzquierda{
  width: 40%;
  height: 100vh;
} 

.contenedorDerecha{
  display: flex;
  flex-direction: column;

  text-align: center;

  width: 60%;
  height: 100vh;

  z-index: 1;
}

.titulo{
  margin-top: 10%;
  text-align: center;
}

.titulo span{
  font-family: 'Oxta';
  font-size: 8em;
  color: black;
  margin-left: 50px;
  margin-top: 50px;
}

.botones{
  margin-top: 10%;

  display: flex;
  gap: 5em;

  justify-content: center;
}

.botones a{
  display: flex;
  justify-content: center;
  align-items: center;

  align-items: center;
  border-style: solid;
  border-width: 0 20px;

  cursor: pointer;
  height: 4rem;
  width: 18rem;
  justify-content: center;

  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;

  border-image: url('../public/svg/boton-principal.svg') 0 15 fill;
  color: #00f0ff;

/*   
  background-color: #00FFFF;
  box-shadow: 0 0 20px #00FFFF;
  color: black;

  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 0px 0px 20px 0px; */
}
.botones a:active{
  background-color: #009c9c;
  transition: 0.5s;
}

.contenedorDerecha h2{
  margin-top: 5%;
  font-size: 2em;
  font-weight: bold;
}

.imagenLanding{
  position: absolute;
  bottom: 0;
  left: 5%;
  z-index: 0;
  /* width: 55%; */
  height: 95%;
}

.footer{
  position: absolute;
  bottom: 0;
  z-index: 2;
  height: 40px;

  background-color: #00FFFF;
  width: 100%;
}